<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.crm.dao.basProductTMapper">
  <resultMap id="BaseResultMap" type="com.cn.crm.bean.basProductT">
    <id column="pro_id" jdbcType="INTEGER" property="pro_id" />
    <result column="pro_depot" jdbcType="VARCHAR" property="pro_depot" />
    <result column="pro_goods_unit" jdbcType="VARCHAR" property="pro_goods_unit" />
    <result column="pro_name" jdbcType="VARCHAR" property="pro_name" />
    <result column="pro_no" jdbcType="VARCHAR" property="pro_no" />
    <result column="pro_price" jdbcType="VARCHAR" property="pro_price" />
    <result column="pro_rank" jdbcType="VARCHAR" property="pro_rank" />
    <result column="pro_remark" jdbcType="VARCHAR" property="pro_remark" />
    <result column="pro_type" jdbcType="VARCHAR" property="pro_type" />
    <result column="pro_unit" jdbcType="VARCHAR" property="pro_unit" />
  </resultMap>
  <sql id="Base_Column_List">
    pro_id, pro_depot, pro_goods_unit, pro_name, pro_no, pro_price, pro_rank, pro_remark, 
    pro_type, pro_unit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bas_product_t
    where pro_id = #{pro_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bas_product_t
    where pro_id = #{pro_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.crm.bean.basProductT">
    insert into bas_product_t (pro_id, pro_depot, pro_goods_unit, 
      pro_name, pro_no, pro_price, 
      pro_rank, pro_remark, pro_type, 
      pro_unit)
    values (#{pro_id,jdbcType=INTEGER}, #{pro_depot,jdbcType=VARCHAR}, #{pro_goods_unit,jdbcType=VARCHAR}, 
      #{pro_name,jdbcType=VARCHAR}, #{pro_no,jdbcType=VARCHAR}, #{pro_price,jdbcType=VARCHAR}, 
      #{pro_rank,jdbcType=VARCHAR}, #{pro_remark,jdbcType=VARCHAR}, #{pro_type,jdbcType=VARCHAR}, 
      #{pro_unit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.crm.bean.basProductT">
    insert into bas_product_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pro_id != null">
        pro_id,
      </if>
      <if test="pro_depot != null">
        pro_depot,
      </if>
      <if test="pro_goods_unit != null">
        pro_goods_unit,
      </if>
      <if test="pro_name != null">
        pro_name,
      </if>
      <if test="pro_no != null">
        pro_no,
      </if>
      <if test="pro_price != null">
        pro_price,
      </if>
      <if test="pro_rank != null">
        pro_rank,
      </if>
      <if test="pro_remark != null">
        pro_remark,
      </if>
      <if test="pro_type != null">
        pro_type,
      </if>
      <if test="pro_unit != null">
        pro_unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pro_id != null">
        #{pro_id,jdbcType=INTEGER},
      </if>
      <if test="pro_depot != null">
        #{pro_depot,jdbcType=VARCHAR},
      </if>
      <if test="pro_goods_unit != null">
        #{pro_goods_unit,jdbcType=VARCHAR},
      </if>
      <if test="pro_name != null">
        #{pro_name,jdbcType=VARCHAR},
      </if>
      <if test="pro_no != null">
        #{pro_no,jdbcType=VARCHAR},
      </if>
      <if test="pro_price != null">
        #{pro_price,jdbcType=VARCHAR},
      </if>
      <if test="pro_rank != null">
        #{pro_rank,jdbcType=VARCHAR},
      </if>
      <if test="pro_remark != null">
        #{pro_remark,jdbcType=VARCHAR},
      </if>
      <if test="pro_type != null">
        #{pro_type,jdbcType=VARCHAR},
      </if>
      <if test="pro_unit != null">
        #{pro_unit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.crm.bean.basProductT">
    update bas_product_t
    <set>
      <if test="pro_depot != null">
        pro_depot = #{pro_depot,jdbcType=VARCHAR},
      </if>
      <if test="pro_goods_unit != null">
        pro_goods_unit = #{pro_goods_unit,jdbcType=VARCHAR},
      </if>
      <if test="pro_name != null">
        pro_name = #{pro_name,jdbcType=VARCHAR},
      </if>
      <if test="pro_no != null">
        pro_no = #{pro_no,jdbcType=VARCHAR},
      </if>
      <if test="pro_price != null">
        pro_price = #{pro_price,jdbcType=VARCHAR},
      </if>
      <if test="pro_rank != null">
        pro_rank = #{pro_rank,jdbcType=VARCHAR},
      </if>
      <if test="pro_remark != null">
        pro_remark = #{pro_remark,jdbcType=VARCHAR},
      </if>
      <if test="pro_type != null">
        pro_type = #{pro_type,jdbcType=VARCHAR},
      </if>
      <if test="pro_unit != null">
        pro_unit = #{pro_unit,jdbcType=VARCHAR},
      </if>
    </set>
    where pro_id = #{pro_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.crm.bean.basProductT">
    update bas_product_t
    set pro_depot = #{pro_depot,jdbcType=VARCHAR},
      pro_goods_unit = #{pro_goods_unit,jdbcType=VARCHAR},
      pro_name = #{pro_name,jdbcType=VARCHAR},
      pro_no = #{pro_no,jdbcType=VARCHAR},
      pro_price = #{pro_price,jdbcType=VARCHAR},
      pro_rank = #{pro_rank,jdbcType=VARCHAR},
      pro_remark = #{pro_remark,jdbcType=VARCHAR},
      pro_type = #{pro_type,jdbcType=VARCHAR},
      pro_unit = #{pro_unit,jdbcType=VARCHAR}
    where pro_id = #{pro_id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.cn.crm.bean.basProductT">
    <id column="pro_id" jdbcType="INTEGER" property="pro_id" />
    <result column="pro_depot" jdbcType="VARCHAR" property="pro_depot" />
    <result column="pro_goods_unit" jdbcType="VARCHAR" property="pro_goods_unit" />
    <result column="pro_name" jdbcType="VARCHAR" property="pro_name" />
    <result column="pro_no" jdbcType="VARCHAR" property="pro_no" />
    <result column="pro_price" jdbcType="VARCHAR" property="pro_price" />
    <result column="pro_rank" jdbcType="VARCHAR" property="pro_rank" />
    <result column="pro_remark" jdbcType="VARCHAR" property="pro_remark" />
    <result column="pro_type" jdbcType="VARCHAR" property="pro_type" />
    <result column="pro_unit" jdbcType="VARCHAR" property="pro_unit" />
  </resultMap>
  <sql id="Base_Column_List">
    pro_id, pro_depot, pro_goods_unit, pro_name, pro_no, pro_price, pro_rank, pro_remark, 
    pro_type, pro_unit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bas_product_t
    where pro_id = #{pro_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bas_product_t
    where pro_id = #{pro_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.crm.bean.basProductT">
    insert into bas_product_t (pro_id, pro_depot, pro_goods_unit, 
      pro_name, pro_no, pro_price, 
      pro_rank, pro_remark, pro_type, 
      pro_unit)
    values (#{pro_id,jdbcType=INTEGER}, #{pro_depot,jdbcType=VARCHAR}, #{pro_goods_unit,jdbcType=VARCHAR}, 
      #{pro_name,jdbcType=VARCHAR}, #{pro_no,jdbcType=VARCHAR}, #{pro_price,jdbcType=VARCHAR}, 
      #{pro_rank,jdbcType=VARCHAR}, #{pro_remark,jdbcType=VARCHAR}, #{pro_type,jdbcType=VARCHAR}, 
      #{pro_unit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.crm.bean.basProductT">
    insert into bas_product_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pro_id != null">
        pro_id,
      </if>
      <if test="pro_depot != null">
        pro_depot,
      </if>
      <if test="pro_goods_unit != null">
        pro_goods_unit,
      </if>
      <if test="pro_name != null">
        pro_name,
      </if>
      <if test="pro_no != null">
        pro_no,
      </if>
      <if test="pro_price != null">
        pro_price,
      </if>
      <if test="pro_rank != null">
        pro_rank,
      </if>
      <if test="pro_remark != null">
        pro_remark,
      </if>
      <if test="pro_type != null">
        pro_type,
      </if>
      <if test="pro_unit != null">
        pro_unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pro_id != null">
        #{pro_id,jdbcType=INTEGER},
      </if>
      <if test="pro_depot != null">
        #{pro_depot,jdbcType=VARCHAR},
      </if>
      <if test="pro_goods_unit != null">
        #{pro_goods_unit,jdbcType=VARCHAR},
      </if>
      <if test="pro_name != null">
        #{pro_name,jdbcType=VARCHAR},
      </if>
      <if test="pro_no != null">
        #{pro_no,jdbcType=VARCHAR},
      </if>
      <if test="pro_price != null">
        #{pro_price,jdbcType=VARCHAR},
      </if>
      <if test="pro_rank != null">
        #{pro_rank,jdbcType=VARCHAR},
      </if>
      <if test="pro_remark != null">
        #{pro_remark,jdbcType=VARCHAR},
      </if>
      <if test="pro_type != null">
        #{pro_type,jdbcType=VARCHAR},
      </if>
      <if test="pro_unit != null">
        #{pro_unit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.crm.bean.basProductT">
    update bas_product_t
    <set>
      <if test="pro_depot != null">
        pro_depot = #{pro_depot,jdbcType=VARCHAR},
      </if>
      <if test="pro_goods_unit != null">
        pro_goods_unit = #{pro_goods_unit,jdbcType=VARCHAR},
      </if>
      <if test="pro_name != null">
        pro_name = #{pro_name,jdbcType=VARCHAR},
      </if>
      <if test="pro_no != null">
        pro_no = #{pro_no,jdbcType=VARCHAR},
      </if>
      <if test="pro_price != null">
        pro_price = #{pro_price,jdbcType=VARCHAR},
      </if>
      <if test="pro_rank != null">
        pro_rank = #{pro_rank,jdbcType=VARCHAR},
      </if>
      <if test="pro_remark != null">
        pro_remark = #{pro_remark,jdbcType=VARCHAR},
      </if>
      <if test="pro_type != null">
        pro_type = #{pro_type,jdbcType=VARCHAR},
      </if>
      <if test="pro_unit != null">
        pro_unit = #{pro_unit,jdbcType=VARCHAR},
      </if>
    </set>
    where pro_id = #{pro_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.crm.bean.basProductT">
    update bas_product_t
    set pro_depot = #{pro_depot,jdbcType=VARCHAR},
      pro_goods_unit = #{pro_goods_unit,jdbcType=VARCHAR},
      pro_name = #{pro_name,jdbcType=VARCHAR},
      pro_no = #{pro_no,jdbcType=VARCHAR},
      pro_price = #{pro_price,jdbcType=VARCHAR},
      pro_rank = #{pro_rank,jdbcType=VARCHAR},
      pro_remark = #{pro_remark,jdbcType=VARCHAR},
      pro_type = #{pro_type,jdbcType=VARCHAR},
      pro_unit = #{pro_unit,jdbcType=VARCHAR}
    where pro_id = #{pro_id,jdbcType=INTEGER}
  </update>
</mapper>