<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.crm.dao.cstActivityTMapper" >
  <resultMap id="BaseResultMap" type="com.cn.crm.bean.cstActivityT" >
    <id column="atv_id" property="atv_id" jdbcType="INTEGER" />
    <result column="atv_date" property="atv_date" jdbcType="TIMESTAMP" />
    <result column="atv_desc" property="atv_desc" jdbcType="VARCHAR" />
    <result column="atv_place" property="atv_place" jdbcType="VARCHAR" />
    <result column="atv_title" property="atv_title" jdbcType="VARCHAR" />
    <result column="cst_customer_t_cst_id" property="cst_customer_t_cst_id" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cn.crm.bean.cstActivityT" extends="BaseResultMap" >
    <result column="atv_detail" property="atv_detail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    atv_id, atv_date, atv_desc, atv_place, atv_title, cst_customer_t_cst_id
  </sql>
  <sql id="Blob_Column_List" >
    atv_detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cst_activity_t
    where atv_id = #{atv_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cst_activity_t
    where atv_id = #{atv_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.crm.bean.cstActivityT" >
    insert into cst_activity_t (atv_id, atv_date, atv_desc, 
      atv_place, atv_title, cst_customer_t_cst_id, 
      atv_detail)
    values (#{atv_id,jdbcType=INTEGER}, #{atv_date,jdbcType=TIMESTAMP}, #{atv_desc,jdbcType=VARCHAR}, 
      #{atv_place,jdbcType=VARCHAR}, #{atv_title,jdbcType=VARCHAR}, #{cst_customer_t_cst_id,jdbcType=INTEGER}, 
      #{atv_detail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.crm.bean.cstActivityT" >
    insert into cst_activity_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="atv_id != null" >
        atv_id,
      </if>
      <if test="atv_date != null" >
        atv_date,
      </if>
      <if test="atv_desc != null" >
        atv_desc,
      </if>
      <if test="atv_place != null" >
        atv_place,
      </if>
      <if test="atv_title != null" >
        atv_title,
      </if>
      <if test="cst_customer_t_cst_id != null" >
        cst_customer_t_cst_id,
      </if>
      <if test="atv_detail != null" >
        atv_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="atv_id != null" >
        #{atv_id,jdbcType=INTEGER},
      </if>
      <if test="atv_date != null" >
        #{atv_date,jdbcType=TIMESTAMP},
      </if>
      <if test="atv_desc != null" >
        #{atv_desc,jdbcType=VARCHAR},
      </if>
      <if test="atv_place != null" >
        #{atv_place,jdbcType=VARCHAR},
      </if>
      <if test="atv_title != null" >
        #{atv_title,jdbcType=VARCHAR},
      </if>
      <if test="cst_customer_t_cst_id != null" >
        #{cst_customer_t_cst_id,jdbcType=INTEGER},
      </if>
      <if test="atv_detail != null" >
        #{atv_detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.crm.bean.cstActivityT" >
    update cst_activity_t
    <set >
      <if test="atv_date != null" >
        atv_date = #{atv_date,jdbcType=TIMESTAMP},
      </if>
      <if test="atv_desc != null" >
        atv_desc = #{atv_desc,jdbcType=VARCHAR},
      </if>
      <if test="atv_place != null" >
        atv_place = #{atv_place,jdbcType=VARCHAR},
      </if>
      <if test="atv_title != null" >
        atv_title = #{atv_title,jdbcType=VARCHAR},
      </if>
      <if test="cst_customer_t_cst_id != null" >
        cst_customer_t_cst_id = #{cst_customer_t_cst_id,jdbcType=INTEGER},
      </if>
      <if test="atv_detail != null" >
        atv_detail = #{atv_detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where atv_id = #{atv_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cn.crm.bean.cstActivityT" >
    update cst_activity_t
    set atv_date = #{atv_date,jdbcType=TIMESTAMP},
      atv_desc = #{atv_desc,jdbcType=VARCHAR},
      atv_place = #{atv_place,jdbcType=VARCHAR},
      atv_title = #{atv_title,jdbcType=VARCHAR},
      cst_customer_t_cst_id = #{cst_customer_t_cst_id,jdbcType=INTEGER},
      atv_detail = #{atv_detail,jdbcType=LONGVARCHAR}
    where atv_id = #{atv_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.crm.bean.cstActivityT" >
    update cst_activity_t
    set atv_date = #{atv_date,jdbcType=TIMESTAMP},
      atv_desc = #{atv_desc,jdbcType=VARCHAR},
      atv_place = #{atv_place,jdbcType=VARCHAR},
      atv_title = #{atv_title,jdbcType=VARCHAR},
      cst_customer_t_cst_id = #{cst_customer_t_cst_id,jdbcType=INTEGER}
    where atv_id = #{atv_id,jdbcType=INTEGER}
  </update>
</mapper>