<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.crm.dao.CstActivityTMapper" >
  <resultMap id="BaseResultMap" type="com.cn.crm.bean.CstActivityT" >
    <id column="atv_id" property="atvId" jdbcType="INTEGER" />
    <result column="atv_date" property="atvDate" jdbcType="TIMESTAMP" />
    <result column="atv_desc" property="atvDesc" jdbcType="VARCHAR" />
    <result column="atv_place" property="atvPlace" jdbcType="VARCHAR" />
    <result column="atv_title" property="atvTitle" jdbcType="VARCHAR" />
    <result column="cst_customer_t_cst_id" property="cstCustomerTCstId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cn.crm.bean.CstActivityT" extends="BaseResultMap" >
    <result column="atv_detail" property="atvDetail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    atv_id, atv_date, atv_desc, atv_place, atv_title, cst_customer_t_cst_id
  </sql>
  <sql id="Blob_Column_List" >
    atv_detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cst_activity_t
    where atv_id = #{atvId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cst_activity_t
    where atv_id = #{atvId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.crm.bean.CstActivityT" >
    insert into cst_activity_t (atv_id, atv_date, atv_desc, 
      atv_place, atv_title, cst_customer_t_cst_id, 
      atv_detail)
    values (#{atvId,jdbcType=INTEGER}, #{atvDate,jdbcType=TIMESTAMP}, #{atvDesc,jdbcType=VARCHAR},
      #{atvPlace,jdbcType=VARCHAR}, #{atvTitle,jdbcType=VARCHAR}, #{cstCustomerTCstId,jdbcType=INTEGER},
      #{atvDetail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.crm.bean.CstActivityT" >
    insert into cst_activity_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="atvId != null" >
        atv_id,
      </if>
      <if test="atvDate != null" >
        atv_date,
      </if>
      <if test="atvDesc != null" >
        atv_desc,
      </if>
      <if test="atvPlace != null" >
        atv_place,
      </if>
      <if test="atvTitle != null" >
        atv_title,
      </if>
      <if test="cstCustomerTCstId != null" >
        cst_customer_t_cst_id,
      </if>
      <if test="atvDetail != null" >
        atv_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="atvId != null" >
        #{atvId,jdbcType=INTEGER},
      </if>
      <if test="atvDate != null" >
        #{atvDate,jdbcType=TIMESTAMP},
      </if>
      <if test="atvDesc != null" >
        #{atvDesc,jdbcType=VARCHAR},
      </if>
      <if test="atvPlace != null" >
        #{atvPlace,jdbcType=VARCHAR},
      </if>
      <if test="atvTitle != null" >
        #{atvTitle,jdbcType=VARCHAR},
      </if>
      <if test="cstCustomerTCstId != null" >
        #{cstCustomerTCstId,jdbcType=INTEGER},
      </if>
      <if test="atvDetail != null" >
        #{atvDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.crm.bean.CstActivityT" >
    update cst_activity_t
    <set >
      <if test="atvDate != null" >
        atv_date = #{atvDate,jdbcType=TIMESTAMP},
      </if>
      <if test="atvDesc != null" >
        atv_desc = #{atvDesc,jdbcType=VARCHAR},
      </if>
      <if test="atvPlace != null" >
        atv_place = #{atvPlace,jdbcType=VARCHAR},
      </if>
      <if test="atvTitle != null" >
        atv_title = #{atvTitle,jdbcType=VARCHAR},
      </if>
      <if test="cstCustomerTCstId != null" >
        cst_customer_t_cst_id = #{cstCustomerTCstId,jdbcType=INTEGER},
      </if>
      <if test="atvDetail != null" >
        atv_detail = #{atvDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where atv_id = #{atvId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cn.crm.bean.CstActivityT" >
    update cst_activity_t
    set atv_date = #{atvDate,jdbcType=TIMESTAMP},
      atv_desc = #{atvDesc,jdbcType=VARCHAR},
      atv_place = #{atvPlace,jdbcType=VARCHAR},
      atv_title = #{atvTitle,jdbcType=VARCHAR},
      cst_customer_t_cst_id = #{cstCustomerTCstId,jdbcType=INTEGER},
      atv_detail = #{atvDetail,jdbcType=LONGVARCHAR}
    where atv_id = #{atvId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.crm.bean.CstActivityT" >
    update cst_activity_t
    set atv_date = #{atvDate,jdbcType=TIMESTAMP},
      atv_desc = #{atvDesc,jdbcType=VARCHAR},
      atv_place = #{atvPlace,jdbcType=VARCHAR},
      atv_title = #{atvTitle,jdbcType=VARCHAR},
      cst_customer_t_cst_id = #{cstCustomerTCstId,jdbcType=INTEGER}
    where atv_id = #{atvId,jdbcType=INTEGER}
  </update>
  <select id="selectByCstId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cst_activity_t
    where cst_customer_t_cst_id = #{cstId,jdbcType=INTEGER}
  </select>
</mapper>