<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.crm.dao.CstCustomerTMapper" >
  <resultMap id="BaseResultMap" type="com.cn.crm.bean.CstCustomerT" >
    <id column="cst_id" property="cstId" jdbcType="INTEGER" />
    <result column="cst_addr" property="cstAddr" jdbcType="VARCHAR" />
    <result column="cst_bank" property="cstBank" jdbcType="VARCHAR" />
    <result column="cst_bank_account" property="cstBankAccount" jdbcType="VARCHAR" />
    <result column="cst_bankroll" property="cstBankroll" jdbcType="INTEGER" />
    <result column="cst_chieftain" property="cstChieftain" jdbcType="VARCHAR" />
    <result column="cst_credit" property="cstCredit" jdbcType="INTEGER" />
    <result column="cst_fax" property="cstFax" jdbcType="VARCHAR" />
    <result column="cst_level" property="cstLevel" jdbcType="INTEGER" />
    <result column="cst_level_label" property="cstLevelLabel" jdbcType="VARCHAR" />
    <result column="cst_licence_no" property="cstLicenceNo" jdbcType="VARCHAR" />
    <result column="cst_local_tax_no" property="cstLocalTaxNo" jdbcType="VARCHAR" />
    <result column="cst_manager_id" property="cstManagerId" jdbcType="INTEGER" />
    <result column="cst_name" property="cstName" jdbcType="VARCHAR" />
    <result column="cst_national_tax_no" property="cstNationalTaxNo" jdbcType="VARCHAR" />
    <result column="cst_region" property="cstRegion" jdbcType="VARCHAR" />
    <result column="cst_satisfy" property="cstSatisfy" jdbcType="INTEGER" />
    <result column="cst_tel" property="cstTel" jdbcType="VARCHAR" />
    <result column="cst_turnover" property="cstTurnover" jdbcType="INTEGER" />
    <result column="cst_website" property="cstWebsite" jdbcType="VARCHAR" />
    <result column="cst_zip" property="cstZip" jdbcType="VARCHAR" />
    <result column="cust_manager_name" property="custManagerName" jdbcType="VARCHAR" />
    <result column="cst_status" property="cstStatus" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.cn.crm.vo.CustomerVo" extends="BaseResultMap">
    <!--通过外键user_id再次发起查询，调用selectUserById获得User对象-->
    <association property="managerInfo" column="cst_manager_id" javaType="com.cn.crm.bean.SysUser" >
      <!--<id column="user_id" property="userId" jdbcType="INTEGER" />-->
      <result column="user_name" property="userName" jdbcType="VARCHAR" />
    </association>
    <association property="cstLevelInfo" column="cst_level" javaType="com.cn.crm.bean.BasDictT">
      <result column="dict_item" property="dictItem" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    cst_id, cst_addr, cst_bank, cst_bank_account, cst_bankroll, cst_chieftain, cst_credit, 
    cst_fax, cst_level, cst_level_label, cst_licence_no, cst_local_tax_no, cst_manager_id, 
    cst_name, cst_national_tax_no, cst_region, cst_satisfy, cst_tel, cst_turnover, cst_website, 
    cst_zip, cust_manager_name, cst_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cst_customer_t
    where cst_id = #{cstId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cst_customer_t
    where cst_id = #{cstId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.crm.bean.CstCustomerT" >
    insert into cst_customer_t (cst_id, cst_addr, cst_bank, 
      cst_bank_account, cst_bankroll, cst_chieftain, 
      cst_credit, cst_fax, cst_level, 
      cst_level_label, cst_licence_no, cst_local_tax_no, 
      cst_manager_id, cst_name, cst_national_tax_no, 
      cst_region, cst_satisfy, cst_tel, 
      cst_turnover, cst_website, cst_zip, 
      cust_manager_name, cst_status)
    values (#{cstId,jdbcType=INTEGER}, #{cstAddr,jdbcType=VARCHAR}, #{cstBank,jdbcType=VARCHAR},
      #{cstBankAccount,jdbcType=VARCHAR}, #{cstBankroll,jdbcType=INTEGER}, #{cstChieftain,jdbcType=VARCHAR},
      #{cstCredit,jdbcType=INTEGER}, #{cstFax,jdbcType=VARCHAR}, #{cstLevel,jdbcType=INTEGER},
      #{cstLevelLabel,jdbcType=VARCHAR}, #{cstLicenceNo,jdbcType=VARCHAR}, #{cstLocalTaxNo,jdbcType=VARCHAR},
      #{cstManagerId,jdbcType=INTEGER}, #{cstName,jdbcType=VARCHAR}, #{cstNationalTaxNo,jdbcType=VARCHAR},
      #{cstRegion,jdbcType=VARCHAR}, #{cstSatisfy,jdbcType=INTEGER}, #{cstTel,jdbcType=VARCHAR},
      #{cstTurnover,jdbcType=INTEGER}, #{cstWebsite,jdbcType=VARCHAR}, #{cstZip,jdbcType=VARCHAR},
      #{custManagerName,jdbcType=VARCHAR}, #{cstStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.crm.bean.CstCustomerT" >
    insert into cst_customer_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cstId != null" >
        cst_id,
      </if>
      <if test="cstAddr != null" >
        cst_addr,
      </if>
      <if test="cstBank != null" >
        cst_bank,
      </if>
      <if test="cstBankAccount != null" >
        cst_bank_account,
      </if>
      <if test="cstBankroll != null" >
        cst_bankroll,
      </if>
      <if test="cstChieftain != null" >
        cst_chieftain,
      </if>
      <if test="cstCredit != null" >
        cst_credit,
      </if>
      <if test="cstFax != null" >
        cst_fax,
      </if>
      <if test="cstLevel != null" >
        cst_level,
      </if>
      <if test="cstLevelLabel != null" >
        cst_level_label,
      </if>
      <if test="cstLicenceNo != null" >
        cst_licence_no,
      </if>
      <if test="cstLocalTaxNo != null" >
        cst_local_tax_no,
      </if>
      <if test="cstManagerId != null" >
        cst_manager_id,
      </if>
      <if test="cstName != null" >
        cst_name,
      </if>
      <if test="cstNationalTaxNo != null" >
        cst_national_tax_no,
      </if>
      <if test="cstRegion != null" >
        cst_region,
      </if>
      <if test="cstSatisfy != null" >
        cst_satisfy,
      </if>
      <if test="cstTel != null" >
        cst_tel,
      </if>
      <if test="cstTurnover != null" >
        cst_turnover,
      </if>
      <if test="cstWebsite != null" >
        cst_website,
      </if>
      <if test="cstZip != null" >
        cst_zip,
      </if>
      <if test="custManagerName != null" >
        cust_manager_name,
      </if>
      <if test="cstStatus != null" >
        cst_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cstId != null" >
        #{cstId,jdbcType=INTEGER},
      </if>
      <if test="cstAddr != null" >
        #{cstAddr,jdbcType=VARCHAR},
      </if>
      <if test="cstBank != null" >
        #{cstBank,jdbcType=VARCHAR},
      </if>
      <if test="cstBankAccount != null" >
        #{cstBankAccount,jdbcType=VARCHAR},
      </if>
      <if test="cstBankroll != null" >
        #{cstBankroll,jdbcType=INTEGER},
      </if>
      <if test="cstChieftain != null" >
        #{cstChieftain,jdbcType=VARCHAR},
      </if>
      <if test="cstCredit != null" >
        #{cstCredit,jdbcType=INTEGER},
      </if>
      <if test="cstFax != null" >
        #{cstFax,jdbcType=VARCHAR},
      </if>
      <if test="cstLevel != null" >
        #{cstLevel,jdbcType=INTEGER},
      </if>
      <if test="cstLevelLabel != null" >
        #{cstLevelLabel,jdbcType=VARCHAR},
      </if>
      <if test="cstLicenceNo != null" >
        #{cstLicenceNo,jdbcType=VARCHAR},
      </if>
      <if test="cstLocalTaxNo != null" >
        #{cstLocalTaxNo,jdbcType=VARCHAR},
      </if>
      <if test="cstManagerId != null" >
        #{cstManagerId,jdbcType=INTEGER},
      </if>
      <if test="cstName != null" >
        #{cstName,jdbcType=VARCHAR},
      </if>
      <if test="cstNationalTaxNo != null" >
        #{cstNationalTaxNo,jdbcType=VARCHAR},
      </if>
      <if test="cstRegion != null" >
        #{cstRegion,jdbcType=VARCHAR},
      </if>
      <if test="cstSatisfy != null" >
        #{cstSatisfy,jdbcType=INTEGER},
      </if>
      <if test="cstTel != null" >
        #{cstTel,jdbcType=VARCHAR},
      </if>
      <if test="cstTurnover != null" >
        #{cstTurnover,jdbcType=INTEGER},
      </if>
      <if test="cstWebsite != null" >
        #{cstWebsite,jdbcType=VARCHAR},
      </if>
      <if test="cstZip != null" >
        #{cstZip,jdbcType=VARCHAR},
      </if>
      <if test="custManagerName != null" >
        #{custManagerName,jdbcType=VARCHAR},
      </if>
      <if test="cstStatus != null" >
        #{cstStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.crm.bean.CstCustomerT" >
    update cst_customer_t
    <set >
      <if test="cstAddr != null" >
        cst_addr = #{cstAddr,jdbcType=VARCHAR},
      </if>
      <if test="cstBank != null" >
        cst_bank = #{cstBank,jdbcType=VARCHAR},
      </if>
      <if test="cstBankAccount != null" >
        cst_bank_account = #{cstBankAccount,jdbcType=VARCHAR},
      </if>
      <if test="cstBankroll != null" >
        cst_bankroll = #{cstBankroll,jdbcType=INTEGER},
      </if>
      <if test="cstChieftain != null" >
        cst_chieftain = #{cstChieftain,jdbcType=VARCHAR},
      </if>
      <if test="cstCredit != null" >
        cst_credit = #{cstCredit,jdbcType=INTEGER},
      </if>
      <if test="cstFax != null" >
        cst_fax = #{cstFax,jdbcType=VARCHAR},
      </if>
      <if test="cstLevel != null" >
        cst_level = #{cstLevel,jdbcType=INTEGER},
      </if>
      <if test="cstLevelLabel != null" >
        cst_level_label = #{cstLevelLabel,jdbcType=VARCHAR},
      </if>
      <if test="cstLicenceNo != null" >
        cst_licence_no = #{cstLicenceNo,jdbcType=VARCHAR},
      </if>
      <if test="cstLocalTaxNo != null" >
        cst_local_tax_no = #{cstLocalTaxNo,jdbcType=VARCHAR},
      </if>
      <if test="cstManagerId != null" >
        cst_manager_id = #{cstManagerId,jdbcType=INTEGER},
      </if>
      <if test="cstName != null" >
        cst_name = #{cstName,jdbcType=VARCHAR},
      </if>
      <if test="cstNationalTaxNo != null" >
        cst_national_tax_no = #{cstNationalTaxNo,jdbcType=VARCHAR},
      </if>
      <if test="cstRegion != null" >
        cst_region = #{cstRegion,jdbcType=VARCHAR},
      </if>
      <if test="cstSatisfy != null" >
        cst_satisfy = #{cstSatisfy,jdbcType=INTEGER},
      </if>
      <if test="cstTel != null" >
        cst_tel = #{cstTel,jdbcType=VARCHAR},
      </if>
      <if test="cstTurnover != null" >
        cst_turnover = #{cstTurnover,jdbcType=INTEGER},
      </if>
      <if test="cstWebsite != null" >
        cst_website = #{cstWebsite,jdbcType=VARCHAR},
      </if>
      <if test="cstZip != null" >
        cst_zip = #{cstZip,jdbcType=VARCHAR},
      </if>
      <if test="custManagerName != null" >
        cust_manager_name = #{custManagerName,jdbcType=VARCHAR},
      </if>
      <if test="cstStatus != null" >
        cst_status = #{cstStatus,jdbcType=INTEGER},
      </if>
    </set>
    where cst_id = #{cstId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.crm.bean.CstCustomerT" >
    update cst_customer_t
    set cst_addr = #{cstAddr,jdbcType=VARCHAR},
      cst_bank = #{cstBank,jdbcType=VARCHAR},
      cst_bank_account = #{cstBankAccount,jdbcType=VARCHAR},
      cst_bankroll = #{cstBankroll,jdbcType=INTEGER},
      cst_chieftain = #{cstChieftain,jdbcType=VARCHAR},
      cst_credit = #{cstCredit,jdbcType=INTEGER},
      cst_fax = #{cstFax,jdbcType=VARCHAR},
      cst_level = #{cstLevel,jdbcType=INTEGER},
      cst_level_label = #{cstLevelLabel,jdbcType=VARCHAR},
      cst_licence_no = #{cstLicenceNo,jdbcType=VARCHAR},
      cst_local_tax_no = #{cstLocalTaxNo,jdbcType=VARCHAR},
      cst_manager_id = #{cstManagerId,jdbcType=INTEGER},
      cst_name = #{cstName,jdbcType=VARCHAR},
      cst_national_tax_no = #{cstNationalTaxNo,jdbcType=VARCHAR},
      cst_region = #{cstRegion,jdbcType=VARCHAR},
      cst_satisfy = #{cstSatisfy,jdbcType=INTEGER},
      cst_tel = #{cstTel,jdbcType=VARCHAR},
      cst_turnover = #{cstTurnover,jdbcType=INTEGER},
      cst_website = #{cstWebsite,jdbcType=VARCHAR},
      cst_zip = #{cstZip,jdbcType=VARCHAR},
      cust_manager_name = #{custManagerName,jdbcType=VARCHAR},
      cst_status = #{cstStatus,jdbcType=INTEGER}
    where cst_id = #{cstId,jdbcType=INTEGER}
  </update>
  <select id="selectUserById" resultMap="BaseResultMap" parameterType="com.cn.crm.vo.CustomerReqVo" >
    select
    <include refid="Base_Column_List" />
    from cst_customer_t
    where cst_manager_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="countByUser" resultType="int" parameterType="com.cn.crm.vo.CustomerReqVo" >
    select count(*)
    from cst_customer_t
    where cst_manager_id = #{userId,jdbcType=INTEGER}
    <if test="cstName != null and cstName != ''">
      and cst_name like concat('%',#{cstName},'%')
    </if>
  </select>
  <!--根据用户编号获得用户对象-->
  <select id="selectByUser" resultMap="BaseResultMap2" parameterType="com.cn.crm.vo.CustomerReqVo">
     select a.cst_id, a.cst_addr, a.cst_bank, a.cst_bank_account, a.cst_bankroll, a.cst_chieftain, a.cst_credit,
    a.cst_fax, a.cst_level, a.cst_level_label, a.cst_licence_no, a.cst_local_tax_no, a.cst_manager_id,
    a.cst_name, a.cst_national_tax_no, a.cst_region, a.cst_satisfy, a.cst_tel, a.cst_turnover, a.cst_website,
    a.cst_zip, a.cust_manager_name, a.cst_status
    ,b.user_name,c.dict_item
     from cst_customer_t a
     left join sys_user b on a.cst_manager_id = b.user_id
     left join bas_dict_t c on a.cst_level = c.dict_value and c.dict_type = '企业客户等级'
     where a.cst_manager_id = #{userId,jdbcType=INTEGER}
    <if test="cstName != null and cstName != ''">
     and a.cst_name like concat('%',#{cstName},'%')
    </if>
    <if test="sort == 'cst_id'">
      <if test="order == 'desc'">
        order by cst_id desc
      </if>
      <if test="order == 'asc'">
        order by cst_id asc
      </if>
    </if>
     limit ${(page-1)*rows},${rows}
   </select>
</mapper>