<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.crm.dao.CstLinkmanTMapper" >
  <resultMap id="BaseResultMap" type="com.cn.crm.bean.CstLinkmanT" >
    <id column="link_id" property="linkId" jdbcType="INTEGER" />
    <result column="link_cst_id" property="linkCstId" jdbcType="INTEGER" />
    <result column="link_cst_name" property="linkCstName" jdbcType="VARCHAR" />
    <result column="link_memo" property="linkMemo" jdbcType="VARCHAR" />
    <result column="link_mobile" property="linkMobile" jdbcType="VARCHAR" />
    <result column="link_name" property="linkName" jdbcType="VARCHAR" />
    <result column="link_postion" property="linkPostion" jdbcType="VARCHAR" />
    <result column="link_sex" property="linkSex" jdbcType="VARCHAR" />
    <result column="link_tel" property="linkTel" jdbcType="VARCHAR" />
    <result column="cst_customer_t_cst_id" property="cstCustomerTCstId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    link_id, link_cst_id, link_cst_name, link_memo, link_mobile, link_name, link_postion, 
    link_sex, link_tel, cst_customer_t_cst_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cst_linkman_t
    where link_id = #{linkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cst_linkman_t
    where link_id = #{linkId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.crm.bean.CstLinkmanT" >
    insert into cst_linkman_t (link_id, link_cst_id, link_cst_name, 
      link_memo, link_mobile, link_name, 
      link_postion, link_sex, link_tel, 
      cst_customer_t_cst_id)
    values (#{linkId,jdbcType=INTEGER}, #{linkCstId,jdbcType=INTEGER}, #{linkCstName,jdbcType=VARCHAR},
      #{linkMemo,jdbcType=VARCHAR}, #{linkMobile,jdbcType=VARCHAR}, #{linkName,jdbcType=VARCHAR},
      #{linkPostion,jdbcType=VARCHAR}, #{linkSex,jdbcType=VARCHAR}, #{linkTel,jdbcType=VARCHAR},
      #{cstCustomerTCstId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.crm.bean.CstLinkmanT" >
    insert into cst_linkman_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="linkId != null" >
        link_id,
      </if>
      <if test="linkCstId != null" >
        link_cst_id,
      </if>
      <if test="linkCstName != null" >
        link_cst_name,
      </if>
      <if test="linkMemo != null" >
        link_memo,
      </if>
      <if test="linkMobile != null" >
        link_mobile,
      </if>
      <if test="linkName != null" >
        link_name,
      </if>
      <if test="linkPostion != null" >
        link_postion,
      </if>
      <if test="linkSex != null" >
        link_sex,
      </if>
      <if test="linkTel != null" >
        link_tel,
      </if>
      <if test="cstCustomerTCstId != null" >
        cst_customer_t_cst_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="linkId != null" >
        #{linkId,jdbcType=INTEGER},
      </if>
      <if test="linkCstId != null" >
        #{linkCstId,jdbcType=INTEGER},
      </if>
      <if test="linkCstName != null" >
        #{linkCstName,jdbcType=VARCHAR},
      </if>
      <if test="linkMemo != null" >
        #{linkMemo,jdbcType=VARCHAR},
      </if>
      <if test="linkMobile != null" >
        #{linkMobile,jdbcType=VARCHAR},
      </if>
      <if test="linkName != null" >
        #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkPostion != null" >
        #{linkPostion,jdbcType=VARCHAR},
      </if>
      <if test="linkSex != null" >
        #{linkSex,jdbcType=VARCHAR},
      </if>
      <if test="linkTel != null" >
        #{linkTel,jdbcType=VARCHAR},
      </if>
      <if test="cstCustomerTCstId != null" >
        #{cstCustomerTCstId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.crm.bean.CstLinkmanT" >
    update cst_linkman_t
    <set >
      <if test="linkCstId != null" >
        link_cst_id = #{linkCstId,jdbcType=INTEGER},
      </if>
      <if test="linkCstName != null" >
        link_cst_name = #{linkCstName,jdbcType=VARCHAR},
      </if>
      <if test="linkMemo != null" >
        link_memo = #{linkMemo,jdbcType=VARCHAR},
      </if>
      <if test="linkMobile != null" >
        link_mobile = #{linkMobile,jdbcType=VARCHAR},
      </if>
      <if test="linkName != null" >
        link_name = #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkPostion != null" >
        link_postion = #{linkPostion,jdbcType=VARCHAR},
      </if>
      <if test="linkSex != null" >
        link_sex = #{linkSex,jdbcType=VARCHAR},
      </if>
      <if test="linkTel != null" >
        link_tel = #{linkTel,jdbcType=VARCHAR},
      </if>
      <if test="cstCustomerTCstId != null" >
        cst_customer_t_cst_id = #{cstCustomerTCstId,jdbcType=INTEGER},
      </if>
    </set>
    where link_id = #{linkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.crm.bean.CstLinkmanT" >
    update cst_linkman_t
    set link_cst_id = #{linkCstId,jdbcType=INTEGER},
      link_cst_name = #{linkCstName,jdbcType=VARCHAR},
      link_memo = #{linkMemo,jdbcType=VARCHAR},
      link_mobile = #{linkMobile,jdbcType=VARCHAR},
      link_name = #{linkName,jdbcType=VARCHAR},
      link_postion = #{linkPostion,jdbcType=VARCHAR},
      link_sex = #{linkSex,jdbcType=VARCHAR},
      link_tel = #{linkTel,jdbcType=VARCHAR},
      cst_customer_t_cst_id = #{cstCustomerTCstId,jdbcType=INTEGER}
    where link_id = #{linkId,jdbcType=INTEGER}
  </update>
  <select id="selectByCstId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from cst_linkman_t
    where link_cst_id = #{cstId,jdbcType=INTEGER}
  </select>
</mapper>