<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.crm.dao.cstServiceTMapper" >
  <resultMap id="BaseResultMap" type="com.cn.crm.bean.cstServiceT" >
    <id column="svc_id" property="svc_id" jdbcType="INTEGER" />
    <result column="svc_create_by" property="svc_create_by" jdbcType="VARCHAR" />
    <result column="svc_create_id" property="svc_create_id" jdbcType="INTEGER" />
    <result column="svc_cst_name" property="svc_cst_name" jdbcType="VARCHAR" />
    <result column="svc_deal" property="svc_deal" jdbcType="VARCHAR" />
    <result column="svc_deal_by" property="svc_deal_by" jdbcType="VARCHAR" />
    <result column="svc_deal_date" property="svc_deal_date" jdbcType="VARCHAR" />
    <result column="svc_deal_id" property="svc_deal_id" jdbcType="INTEGER" />
    <result column="svc_due_date" property="svc_due_date" jdbcType="TIMESTAMP" />
    <result column="svc_due_id" property="svc_due_id" jdbcType="INTEGER" />
    <result column="svc_due_to" property="svc_due_to" jdbcType="VARCHAR" />
    <result column="svc_request" property="svc_request" jdbcType="VARCHAR" />
    <result column="svc_result" property="svc_result" jdbcType="VARCHAR" />
    <result column="svc_satisfy" property="svc_satisfy" jdbcType="VARCHAR" />
    <result column="svc_status" property="svc_status" jdbcType="VARCHAR" />
    <result column="svc_type" property="svc_type" jdbcType="VARCHAR" />
    <result column="svc_create_date" property="svc_create_date" jdbcType="TIMESTAMP" />
    <result column="svc_title" property="svc_title" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    svc_id, svc_create_by, svc_create_id, svc_cst_name, svc_deal, svc_deal_by, svc_deal_date, 
    svc_deal_id, svc_due_date, svc_due_id, svc_due_to, svc_request, svc_result, svc_satisfy, 
    svc_status, svc_type, svc_create_date, svc_title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cst_service_t
    where svc_id = #{svc_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cst_service_t
    where svc_id = #{svc_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.crm.bean.cstServiceT" >
    insert into cst_service_t (svc_id, svc_create_by, svc_create_id, 
      svc_cst_name, svc_deal, svc_deal_by, 
      svc_deal_date, svc_deal_id, svc_due_date, 
      svc_due_id, svc_due_to, svc_request, 
      svc_result, svc_satisfy, svc_status, 
      svc_type, svc_create_date, svc_title
      )
    values (#{svc_id,jdbcType=INTEGER}, #{svc_create_by,jdbcType=VARCHAR}, #{svc_create_id,jdbcType=INTEGER}, 
      #{svc_cst_name,jdbcType=VARCHAR}, #{svc_deal,jdbcType=VARCHAR}, #{svc_deal_by,jdbcType=VARCHAR}, 
      #{svc_deal_date,jdbcType=VARCHAR}, #{svc_deal_id,jdbcType=INTEGER}, #{svc_due_date,jdbcType=TIMESTAMP}, 
      #{svc_due_id,jdbcType=INTEGER}, #{svc_due_to,jdbcType=VARCHAR}, #{svc_request,jdbcType=VARCHAR}, 
      #{svc_result,jdbcType=VARCHAR}, #{svc_satisfy,jdbcType=VARCHAR}, #{svc_status,jdbcType=VARCHAR}, 
      #{svc_type,jdbcType=VARCHAR}, #{svc_create_date,jdbcType=TIMESTAMP}, #{svc_title,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.crm.bean.cstServiceT" >
    insert into cst_service_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="svc_id != null" >
        svc_id,
      </if>
      <if test="svc_create_by != null" >
        svc_create_by,
      </if>
      <if test="svc_create_id != null" >
        svc_create_id,
      </if>
      <if test="svc_cst_name != null" >
        svc_cst_name,
      </if>
      <if test="svc_deal != null" >
        svc_deal,
      </if>
      <if test="svc_deal_by != null" >
        svc_deal_by,
      </if>
      <if test="svc_deal_date != null" >
        svc_deal_date,
      </if>
      <if test="svc_deal_id != null" >
        svc_deal_id,
      </if>
      <if test="svc_due_date != null" >
        svc_due_date,
      </if>
      <if test="svc_due_id != null" >
        svc_due_id,
      </if>
      <if test="svc_due_to != null" >
        svc_due_to,
      </if>
      <if test="svc_request != null" >
        svc_request,
      </if>
      <if test="svc_result != null" >
        svc_result,
      </if>
      <if test="svc_satisfy != null" >
        svc_satisfy,
      </if>
      <if test="svc_status != null" >
        svc_status,
      </if>
      <if test="svc_type != null" >
        svc_type,
      </if>
      <if test="svc_create_date != null" >
        svc_create_date,
      </if>
      <if test="svc_title != null" >
        svc_title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="svc_id != null" >
        #{svc_id,jdbcType=INTEGER},
      </if>
      <if test="svc_create_by != null" >
        #{svc_create_by,jdbcType=VARCHAR},
      </if>
      <if test="svc_create_id != null" >
        #{svc_create_id,jdbcType=INTEGER},
      </if>
      <if test="svc_cst_name != null" >
        #{svc_cst_name,jdbcType=VARCHAR},
      </if>
      <if test="svc_deal != null" >
        #{svc_deal,jdbcType=VARCHAR},
      </if>
      <if test="svc_deal_by != null" >
        #{svc_deal_by,jdbcType=VARCHAR},
      </if>
      <if test="svc_deal_date != null" >
        #{svc_deal_date,jdbcType=VARCHAR},
      </if>
      <if test="svc_deal_id != null" >
        #{svc_deal_id,jdbcType=INTEGER},
      </if>
      <if test="svc_due_date != null" >
        #{svc_due_date,jdbcType=TIMESTAMP},
      </if>
      <if test="svc_due_id != null" >
        #{svc_due_id,jdbcType=INTEGER},
      </if>
      <if test="svc_due_to != null" >
        #{svc_due_to,jdbcType=VARCHAR},
      </if>
      <if test="svc_request != null" >
        #{svc_request,jdbcType=VARCHAR},
      </if>
      <if test="svc_result != null" >
        #{svc_result,jdbcType=VARCHAR},
      </if>
      <if test="svc_satisfy != null" >
        #{svc_satisfy,jdbcType=VARCHAR},
      </if>
      <if test="svc_status != null" >
        #{svc_status,jdbcType=VARCHAR},
      </if>
      <if test="svc_type != null" >
        #{svc_type,jdbcType=VARCHAR},
      </if>
      <if test="svc_create_date != null" >
        #{svc_create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="svc_title != null" >
        #{svc_title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.crm.bean.cstServiceT" >
    update cst_service_t
    <set >
      <if test="svc_create_by != null" >
        svc_create_by = #{svc_create_by,jdbcType=VARCHAR},
      </if>
      <if test="svc_create_id != null" >
        svc_create_id = #{svc_create_id,jdbcType=INTEGER},
      </if>
      <if test="svc_cst_name != null" >
        svc_cst_name = #{svc_cst_name,jdbcType=VARCHAR},
      </if>
      <if test="svc_deal != null" >
        svc_deal = #{svc_deal,jdbcType=VARCHAR},
      </if>
      <if test="svc_deal_by != null" >
        svc_deal_by = #{svc_deal_by,jdbcType=VARCHAR},
      </if>
      <if test="svc_deal_date != null" >
        svc_deal_date = #{svc_deal_date,jdbcType=VARCHAR},
      </if>
      <if test="svc_deal_id != null" >
        svc_deal_id = #{svc_deal_id,jdbcType=INTEGER},
      </if>
      <if test="svc_due_date != null" >
        svc_due_date = #{svc_due_date,jdbcType=TIMESTAMP},
      </if>
      <if test="svc_due_id != null" >
        svc_due_id = #{svc_due_id,jdbcType=INTEGER},
      </if>
      <if test="svc_due_to != null" >
        svc_due_to = #{svc_due_to,jdbcType=VARCHAR},
      </if>
      <if test="svc_request != null" >
        svc_request = #{svc_request,jdbcType=VARCHAR},
      </if>
      <if test="svc_result != null" >
        svc_result = #{svc_result,jdbcType=VARCHAR},
      </if>
      <if test="svc_satisfy != null" >
        svc_satisfy = #{svc_satisfy,jdbcType=VARCHAR},
      </if>
      <if test="svc_status != null" >
        svc_status = #{svc_status,jdbcType=VARCHAR},
      </if>
      <if test="svc_type != null" >
        svc_type = #{svc_type,jdbcType=VARCHAR},
      </if>
      <if test="svc_create_date != null" >
        svc_create_date = #{svc_create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="svc_title != null" >
        svc_title = #{svc_title,jdbcType=VARCHAR},
      </if>
    </set>
    where svc_id = #{svc_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.crm.bean.cstServiceT" >
    update cst_service_t
    set svc_create_by = #{svc_create_by,jdbcType=VARCHAR},
      svc_create_id = #{svc_create_id,jdbcType=INTEGER},
      svc_cst_name = #{svc_cst_name,jdbcType=VARCHAR},
      svc_deal = #{svc_deal,jdbcType=VARCHAR},
      svc_deal_by = #{svc_deal_by,jdbcType=VARCHAR},
      svc_deal_date = #{svc_deal_date,jdbcType=VARCHAR},
      svc_deal_id = #{svc_deal_id,jdbcType=INTEGER},
      svc_due_date = #{svc_due_date,jdbcType=TIMESTAMP},
      svc_due_id = #{svc_due_id,jdbcType=INTEGER},
      svc_due_to = #{svc_due_to,jdbcType=VARCHAR},
      svc_request = #{svc_request,jdbcType=VARCHAR},
      svc_result = #{svc_result,jdbcType=VARCHAR},
      svc_satisfy = #{svc_satisfy,jdbcType=VARCHAR},
      svc_status = #{svc_status,jdbcType=VARCHAR},
      svc_type = #{svc_type,jdbcType=VARCHAR},
      svc_create_date = #{svc_create_date,jdbcType=TIMESTAMP},
      svc_title = #{svc_title,jdbcType=VARCHAR}
    where svc_id = #{svc_id,jdbcType=INTEGER}
  </update>
</mapper>