<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.crm.dao.SalChanceTMapper" >
  <resultMap id="BaseResultMap" type="com.cn.crm.bean.SalChanceT" >
    <id column="chc_id" property="chcId" jdbcType="INTEGER" />
    <result column="chc_create_by" property="chcCreateBy" jdbcType="VARCHAR" />
    <result column="chc_create_date" property="chcCreateDate" jdbcType="TIMESTAMP"/>
    <result column="chc_create_id" property="chcCreateId" jdbcType="INTEGER" />
    <result column="chc_cust_name" property="chcCustName" jdbcType="VARCHAR" />
    <result column="chc_desc" property="chcDesc" jdbcType="VARCHAR" />
    <result column="chc_due_date" property="chcDueDate" jdbcType="TIMESTAMP"/>
    <result column="chc_due_id" property="chcDueId" jdbcType="INTEGER" />
    <result column="chc_due_to" property="chcDueTo" jdbcType="INTEGER" />
    <result column="chc_linkman" property="chcLinkman" jdbcType="VARCHAR" />
    <result column="chc_rate" property="chcRate" jdbcType="INTEGER" />
    <result column="chc_source" property="chcSource" jdbcType="VARCHAR" />
    <result column="chc_status" property="chcStatus" jdbcType="VARCHAR" />
    <result column="chc_tel" property="chcTel" jdbcType="VARCHAR" />
    <result column="chc_title" property="chcTitle" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    chc_id, chc_create_by, chc_create_date, chc_create_id, chc_cust_name, chc_desc, chc_due_date, 
    chc_due_id, chc_due_to, chc_linkman, chc_rate, chc_source, chc_status, chc_tel, chc_title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sal_chance_t
    where chc_id = #{chcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sal_chance_t
    where chc_id = #{chcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.crm.bean.SalChanceT" >
    insert into sal_chance_t (chc_id, chc_create_by, chc_create_date, 
      chc_create_id, chc_cust_name, chc_desc, 
      chc_due_date, chc_due_id, chc_due_to, 
      chc_linkman, chc_rate, chc_source, 
      chc_status, chc_tel, chc_title
      )
    values (#{chcId,jdbcType=INTEGER}, #{chcCreateBy,jdbcType=VARCHAR}, #{chcCreateDate,jdbcType=TIMESTAMP},
      #{chcCreateId,jdbcType=INTEGER}, #{chcCustName,jdbcType=VARCHAR}, #{chcDesc,jdbcType=VARCHAR},
      #{chcDueDate,jdbcType=TIMESTAMP}, #{chcDueId,jdbcType=INTEGER}, #{chcDueTo,jdbcType=INTEGER},
      #{chcLinkman,jdbcType=VARCHAR}, #{chcRate,jdbcType=INTEGER}, #{chcSource,jdbcType=VARCHAR},
      #{chcStatus,jdbcType=VARCHAR}, #{chcTel,jdbcType=VARCHAR}, #{chcTitle,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.crm.bean.SalChanceT" >
    insert into sal_chance_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chcId != null" >
        chc_id,
      </if>
      <if test="chcCreateBy != null" >
        chc_create_by,
      </if>
      <if test="chcCreateDate != null" >
        chc_create_date,
      </if>
      <if test="chcCreateId != null" >
        chc_create_id,
      </if>
      <if test="chcCustName != null" >
        chc_cust_name,
      </if>
      <if test="chcDesc != null" >
        chc_desc,
      </if>
      <if test="chcDueDate != null" >
        chc_due_date,
      </if>
      <if test="chcDueId != null" >
        chc_due_id,
      </if>
      <if test="chcDueTo != null" >
        chc_due_to,
      </if>
      <if test="chcLinkman != null" >
        chc_linkman,
      </if>
      <if test="chcRate != null" >
        chc_rate,
      </if>
      <if test="chcSource != null" >
        chc_source,
      </if>
      <if test="chcStatus != null" >
        chc_status,
      </if>
      <if test="chcTel != null" >
        chc_tel,
      </if>
      <if test="chcTitle != null" >
        chc_title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chcId != null" >
        #{chcId,jdbcType=INTEGER},
      </if>
      <if test="chcCreateBy != null" >
        #{chcCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="chcCreateDate != null" >
        #{chcCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="chcCreateId != null" >
        #{chcCreateId,jdbcType=INTEGER},
      </if>
      <if test="chcCustName != null" >
        #{chcCustName,jdbcType=VARCHAR},
      </if>
      <if test="chcDesc != null" >
        #{chcDesc,jdbcType=VARCHAR},
      </if>
      <if test="chcDueDate != null" >
        #{chcDueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="chcDueId != null" >
        #{chcDueId,jdbcType=INTEGER},
      </if>
      <if test="chcDueTo != null" >
        #{chcDueTo,jdbcType=INTEGER},
      </if>
      <if test="chcLinkman != null" >
        #{chcLinkman,jdbcType=VARCHAR},
      </if>
      <if test="chcRate != null" >
        #{chcRate,jdbcType=INTEGER},
      </if>
      <if test="chcSource != null" >
        #{chcSource,jdbcType=VARCHAR},
      </if>
      <if test="chcStatus != null" >
        #{chcStatus,jdbcType=VARCHAR},
      </if>
      <if test="chcTel != null" >
        #{chcTel,jdbcType=VARCHAR},
      </if>
      <if test="chcTitle != null" >
        #{chcTitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.crm.bean.SalChanceT" >
    update sal_chance_t
    <set >
      <if test="chcCreateBy != null" >
        chc_create_by = #{chcCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="chcCreateDate != null" >
        chc_create_date = #{chcCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="chcCreateId != null" >
        chc_create_id = #{chcCreateId,jdbcType=INTEGER},
      </if>
      <if test="chcCustName != null" >
        chc_cust_name = #{chcCustName,jdbcType=VARCHAR},
      </if>
      <if test="chcDesc != null" >
        chc_desc = #{chcDesc,jdbcType=VARCHAR},
      </if>
      <if test="chcDueDate != null" >
        chc_due_date = #{chcDueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="chcDueId != null" >
        chc_due_id = #{chcDueId,jdbcType=INTEGER},
      </if>
      <if test="chcDueTo != null" >
        chc_due_to = #{chcDueTo,jdbcType=INTEGER},
      </if>
      <if test="chcLinkman != null" >
        chc_linkman = #{chcLinkman,jdbcType=VARCHAR},
      </if>
      <if test="chcRate != null" >
        chc_rate = #{chcRate,jdbcType=INTEGER},
      </if>
      <if test="chcSource != null" >
        chc_source = #{chcSource,jdbcType=VARCHAR},
      </if>
      <if test="chcStatus != null" >
        chc_status = #{chcStatus,jdbcType=VARCHAR},
      </if>
      <if test="chcTel != null" >
        chc_tel = #{chcTel,jdbcType=VARCHAR},
      </if>
      <if test="chcTitle != null" >
        chc_title = #{chcTitle,jdbcType=VARCHAR},
      </if>
    </set>
    where chc_id = #{chcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.crm.bean.SalChanceT" >
    update sal_chance_t
    set chc_create_by = #{chcCreateBy,jdbcType=VARCHAR},
      chc_create_date = #{chcCreateDate,jdbcType=TIMESTAMP},
      chc_create_id = #{chcCreateId,jdbcType=INTEGER},
      chc_cust_name = #{chcCustName,jdbcType=VARCHAR},
      chc_desc = #{chcDesc,jdbcType=VARCHAR},
      chc_due_date = #{chcDueDate,jdbcType=TIMESTAMP},
      chc_due_id = #{chcDueId,jdbcType=INTEGER},
      chc_due_to = #{chcDueTo,jdbcType=INTEGER},
      chc_linkman = #{chcLinkman,jdbcType=VARCHAR},
      chc_rate = #{chcRate,jdbcType=INTEGER},
      chc_source = #{chcSource,jdbcType=VARCHAR},
      chc_status = #{chcStatus,jdbcType=VARCHAR},
      chc_tel = #{chcTel,jdbcType=VARCHAR},
      chc_title = #{chcTitle,jdbcType=VARCHAR}
    where chc_id = #{chcId,jdbcType=INTEGER}
  </update>
  <select id="selectByCreateTime" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sal_chance_t
    where 1=1
    <if test="beginDate != null and beginDate != ''">
      <![CDATA[ and chc_create_date >= FROM_UNIXTIME(#{beginDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s') ]]>
    </if>
    <if test="endDate != null and endDate != ''">
      <![CDATA[ and chc_create_date <= FROM_UNIXTIME(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s') ]]>
    </if>
    <if test="custName != null and custName != ''">
      and chc_cust_name like concat('%',#{custName},'%')
    </if>
    <if test="title != null and title != ''">
      and chc_title like concat('%',#{title},'%')
    </if>
    <if test="linkman != null and linkman != ''">
      and chc_linkman like concat('%',#{linkman},'%')
    </if>
    <if test="sort == 'chcId'">
        <if test="order == 'desc'">
        order by chc_id desc
        </if>
      <if test="order == 'asc'">
        order by chc_id asc
      </if>
    </if>
    limit ${(page-1)*rows},${rows}
  </select>
  <delete id="deleteByPrimaryKeys"  >
    delete from sal_chance_t
    where chc_id in
    <foreach collection="array" item="item" index="index" open="("
             separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <select id="countByCreateTime" resultType="long" >
    select count(*)
    from sal_chance_t
    where 1=1
    <if test="beginDate != null and beginDate != ''">
      <![CDATA[ and chc_create_date >= FROM_UNIXTIME(#{beginDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s') ]]>
    </if>
    <if test="endDate != null and endDate != ''">
      <![CDATA[ and chc_create_date <= FROM_UNIXTIME(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s') ]]>
    </if>
    <if test="custName != null and custName != ''">
      and chc_cust_name like concat('%',#{custName},'%')
    </if>
    <if test="title != null and title != ''">
      and chc_title like concat('%',#{title},'%')
    </if>
    <if test="linkman != null and linkman != ''">
      and chc_linkman like concat('%',#{linkman},'%')
    </if>
  </select>
</mapper>