<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.crm.dao.SysAuthMapper" >
  <resultMap id="BaseResultMap" type="com.cn.crm.bean.SysAuth" >
    <id column="auth_id" property="authId" jdbcType="INTEGER" />
    <result column="auth_parent_id" property="authParentId" jdbcType="INTEGER" />
    <result column="auth_name" property="authName" jdbcType="VARCHAR" />
    <result column="auth_desc" property="authDesc" jdbcType="VARCHAR" />
    <result column="auth_url" property="authUrl" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    auth_id, auth_parent_id, auth_name, auth_desc, auth_url, is_deleted, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_auth
    where auth_id = #{authId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_auth
    where auth_id = #{authId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.crm.bean.SysAuth" >
    insert into sys_auth (auth_id, auth_parent_id, auth_name, 
      auth_desc, auth_url, is_deleted, 
      create_time, update_time)
    values (#{authId,jdbcType=INTEGER}, #{authParentId,jdbcType=INTEGER}, #{authName,jdbcType=VARCHAR}, 
      #{authDesc,jdbcType=VARCHAR}, #{authUrl,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.crm.bean.SysAuth" >
    insert into sys_auth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="authId != null" >
        auth_id,
      </if>
      <if test="authParentId != null" >
        auth_parent_id,
      </if>
      <if test="authName != null" >
        auth_name,
      </if>
      <if test="authDesc != null" >
        auth_desc,
      </if>
      <if test="authUrl != null" >
        auth_url,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="authId != null" >
        #{authId,jdbcType=INTEGER},
      </if>
      <if test="authParentId != null" >
        #{authParentId,jdbcType=INTEGER},
      </if>
      <if test="authName != null" >
        #{authName,jdbcType=VARCHAR},
      </if>
      <if test="authDesc != null" >
        #{authDesc,jdbcType=VARCHAR},
      </if>
      <if test="authUrl != null" >
        #{authUrl,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.crm.bean.SysAuth" >
    update sys_auth
    <set >
      <if test="authParentId != null" >
        auth_parent_id = #{authParentId,jdbcType=INTEGER},
      </if>
      <if test="authName != null" >
        auth_name = #{authName,jdbcType=VARCHAR},
      </if>
      <if test="authDesc != null" >
        auth_desc = #{authDesc,jdbcType=VARCHAR},
      </if>
      <if test="authUrl != null" >
        auth_url = #{authUrl,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where auth_id = #{authId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.crm.bean.SysAuth" >
    update sys_auth
    set auth_parent_id = #{authParentId,jdbcType=INTEGER},
      auth_name = #{authName,jdbcType=VARCHAR},
      auth_desc = #{authDesc,jdbcType=VARCHAR},
      auth_url = #{authUrl,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where auth_id = #{authId,jdbcType=INTEGER}
  </update>
</mapper>