<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.crm.dao.SysRoleTMapper">
  <resultMap id="BaseResultMap" type="com.cn.crm.bean.SysRoleT">
    <id column="role_id" jdbcType="INTEGER" property="role_id" />
    <result column="role_desc" jdbcType="VARCHAR" property="role_desc" />
    <result column="role_flag" jdbcType="VARCHAR" property="role_flag" />
    <result column="role_name" jdbcType="VARCHAR" property="role_name" />
  </resultMap>
  <sql id="Base_Column_List">
    role_id, role_desc, role_flag, role_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role_t
    where role_id = #{role_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_role_t
    where role_id = #{role_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.crm.bean.SysRoleT">
    insert into sys_role_t (role_id, role_desc, role_flag, 
      role_name)
    values (#{role_id,jdbcType=INTEGER}, #{role_desc,jdbcType=VARCHAR}, #{role_flag,jdbcType=VARCHAR}, 
      #{role_name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.crm.bean.SysRoleT">
    insert into sys_role_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="role_id != null">
        role_id,
      </if>
      <if test="role_desc != null">
        role_desc,
      </if>
      <if test="role_flag != null">
        role_flag,
      </if>
      <if test="role_name != null">
        role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="role_id != null">
        #{role_id,jdbcType=INTEGER},
      </if>
      <if test="role_desc != null">
        #{role_desc,jdbcType=VARCHAR},
      </if>
      <if test="role_flag != null">
        #{role_flag,jdbcType=VARCHAR},
      </if>
      <if test="role_name != null">
        #{role_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.crm.bean.SysRoleT">
    update sys_role_t
    <set>
      <if test="role_desc != null">
        role_desc = #{role_desc,jdbcType=VARCHAR},
      </if>
      <if test="role_flag != null">
        role_flag = #{role_flag,jdbcType=VARCHAR},
      </if>
      <if test="role_name != null">
        role_name = #{role_name,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{role_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.crm.bean.SysRoleT">
    update sys_role_t
    set role_desc = #{role_desc,jdbcType=VARCHAR},
      role_flag = #{role_flag,jdbcType=VARCHAR},
      role_name = #{role_name,jdbcType=VARCHAR}
    where role_id = #{role_id,jdbcType=INTEGER}
  </update>
</mapper>