<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.crm.dao.SysRoleRightTMapper" >
  <resultMap id="BaseResultMap" type="com.cn.crm.bean.SysRoleRightTKey" >
    <id column="rr_right_id" property="rr_right_id" jdbcType="INTEGER" />
    <id column="rr_role_id" property="rr_role_id" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.cn.crm.bean.SysRoleRightTKey" >
    delete from sys_role_right_t
    where rr_right_id = #{rr_right_id,jdbcType=INTEGER}
      and rr_role_id = #{rr_role_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.crm.bean.SysRoleRightTKey" >
    insert into sys_role_right_t (rr_right_id, rr_role_id)
    values (#{rr_right_id,jdbcType=INTEGER}, #{rr_role_id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.crm.bean.SysRoleRightTKey" >
    insert into sys_role_right_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rr_right_id != null" >
        rr_right_id,
      </if>
      <if test="rr_role_id != null" >
        rr_role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rr_right_id != null" >
        #{rr_right_id,jdbcType=INTEGER},
      </if>
      <if test="rr_role_id != null" >
        #{rr_role_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>